/*
 * Flattastic Pro Color Palette
 * http://codepen.io/rodriguesmarcos/pen/CapmI
 */

$palette-grass-light: #a0d468;
$palette-grass-dark: #8cc152;
$palette-mint-light: #48cfad;
$palette-mint-dark: #37bc9b;
$palette-sunflower-light: #ffce54;
$palette-sunflower-dark: #f6bb42;
$palette-aqua-light: #4fc1e9;
$palette-aqua-dark: #3bafda;
$palette-grapefruit-light: #ed5565;
$palette-grapefruit-dark: #da4453;
$palette-light-gray-light: #f5f7fa;
$palette-light-gray-dark: #e6e9ed;
$palette-medium-gray-light: #ccd1d9;
$palette-medium-gray-dark: #aab2bd;
